header{
  text-align: center;
  font-size:forte;
}
.parent{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.leftChild{
  width: 30%;
  padding: 1%;
  margin: 1%;
}
.rightChild{
  witch:70%;
  padding: 30%;
  margin: 1%;
}
